<div class='ui segment center aligned'>
  <h1 class='blue'>List of all Teams:</h1>
  <div class='ui center aligned segment'>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <% team.memberships.each do |m| %>
            <% if m.user_id == current_user.id %>
              <td><b class='green'>part of </b></td>
            <% elsif m.user_id != current_user.id %>
              <td><b class='yellow'>not part of </b></td>
            <% end %>
          <% end %>
          <td><%= link_to 'Details', team %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class='ui segment'>
  <%= link_to 'New Team', new_team_path %>
</div>