// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blue {
  color:blue;
}
.yellow {
  color:#B1BD1D;
}
.green {
  color:green;
}
.right {
  float:right;
}
.left {
  float:left;
}

td {
  padding: 1em;
}